body {
    background: linear-gradient(135deg, #e0e7ff, #93c5fd);
    background-attachment: fixed;
    transition: background 0.5s ease;
    font-family: 'Roboto', sans-serif;
}

.dark select {
    background-color: #1e293b;
    color: #d1d5db;
    border-color: #4b5563;
}

.dark input[type="number"] {
    background-color: #1e293b;
    color: #d1d5db;
    border-color: #4b5563;
}

.dark input[type="text"] {
    background-color: #1e293b;
    color: #d1d5db;
    border-color: #4b5563;
}

.dark input[type="password"] {
    background-color: #1e293b;
    color: #d1d5db;
    border-color: #4b5563;
}

.dark .choices__inner {
    background-color: #1e293b;
    color: #d1d5db;
    border-color: #4b5563;
}

.dark .choices__list {
    background-color: #1e293b;
    color: #d1d5db;
    border-color: #4b5563;
}

.dark .choices__list .choices__list--dropdown {
    background-color: #1e293b;
    color: #d1d5db;
    border-color: #4b5563;
}

.dark .duration-200 {
    border-color: #4b5563;
}

.dark body {
    background: linear-gradient(135deg, #111827, #1f2937);
}

.header {
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dark .header {
    background: #374151;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.sidebar {
    transition: transform 0.3s ease;
    background: #ffffff;
}

.dark .sidebar {
    background: #374151;
}

.sidebar-closed {
    transform: translateX(-100%);
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.category {
    transition: all 0.5s ease;
}

.category-hidden {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

.category-visible {
    max-height: 1000px;
    opacity: 1;
}

.modal {
    animation: slideIn 0.3s ease-in-out;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e2e2e2e0;
    transition: 0.4s;
    border-radius: 24px;
}

.switch .slider:before {
    position: absolute;
    content: "🌞";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: #fcfdff;
    transition: 0.4s;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.switch input:checked+.slider {
    background-color: #00af75;
}

.switch input:checked+.slider:before {
    transform: translateX(26px);
    content: "🌙";
}

.button-transition {
    transition: all 0.3s ease;
}

.button-transition:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.menu-item {
    transition: all 0.3s ease;
}

.menu-item:hover {
    background-color: #3b82f6;
    color: #ffffff;
}

.dark .menu-item:hover {
    background-color: #6b7280;
    color: #ffffff;
}

.dark .text-gray-900 {
    color: #dde0e6;
}

.dark .text-gray-700 {
    color: #dde0e6;
}

.dark .text-gray-600 {
    color: #dde0e6;
}

.dark .bg-white {
    background-color: #374151;
}

.dark .transition:hover {
    background-color: #465366;
}

.dark .bg-gray-100 {
    background-color: #4b5563;
}

.dark .bg-gray-300 {
    background-color: #6b7280;
}

.dark .bg-green-500 {
    background-color: #248b60;
}

.dark .hover\:bg-green-600:hover {
    background-color: #247050;
}

.dark .border-gray-600 {
    border-color: #4b5563;
}

@media (max-width: 767px) {
    .sidebar {
        width: 75%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 50;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    }
}